<p *ngIf="myInfo == undefined">Failed fetching user info</p>
<div *ngIf="myInfo != undefined">
    <div class="container-fluid">
        <div class="d-flex flex-row justify-content-between">
            <div class="flex-column">
                User {{myInfo.FirstName}} {{myInfo.LastName}}
            </div>
            <div class="flex-column">
              <a href="mailto: {{myInfo.MIX_ID}@mix.wvu.edu">  Mix ID: {{myInfo.MIX_ID}} </a>
            </div>
            <div class="flex-column">
               <a href={{myInfo.Github}}>  Github:  {{myInfo.Github}} </a>
            </div>
        </div>
    </div>
</div>