
  <!--Footer-->
  <footer class="page-footer font-small blue pt-3 ">
    <div class="container text-center text-md-left ">
      <div class="row">
  
        <hr class="clearfix w-100 d-md-none pb-3">
        <!--Spacing Line-->
        <div class="col-md-1 mb-md-0 mb-3">
          |
        </div>
        <!--Spacing Line-->
        <!--Link-->
        <div class="col-md-3 mb-md-0 mb-3">
          <ul class="list-unstyled">
            <li>
              <a href="#!">Privacy Policy
              </a>
            </li>
          </ul>
        </div>
        <!--Link-->
        <!--Spacing Line-->
        <div class="col-md-1 mb-md-0 mb-3">
          |
        </div>
        <!--Spacing Line-->
        <!--Link-->
        <div class="col-md-3 mb-md-0 mb-3">
          <ul class="list-unstyled">
            <li>
              <a href="#!">Terms of Service </a>
            </li>
          </ul>
        </div>
        <!--Spacing Line-->
        <div class="col-md-1 mb-md-0 mb-3">
          |
        </div>
        <!--Spacing Line-->
        <!--Link-->
        <div class="col-md-3 mb-md-0 mb-3">
          <ul class="list-unstyled">
            <li>
              <a href="#!">Contact Us</a>
            </li>
          </ul>
        </div>
        <!--Link-->
      </div>
    </div>
  </footer>
  <!--End Footer-->