
<li class="list-group-item list-group-item border-white link-info rounded-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <a href="#" class="text-decoration-none link-info">{{title}}</a>
                            </div>
                            <div class="col">
                                {{release}}
                            </div>
                            <div class="col">
                                <a href="#" class="text-decoration-none link-info">{{group}}</a>
                          </div>
                        </div>                      
                    </div>
</li>