<li class="list-group-item list-group-item border-white link-info rounded-bottom">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <a href="#" class="text-decoration-none link-info">{{title2}}</a>
            </div>
            <div class="col">
                {{release2}}
            </div>
            <div class="col">
                <a href="#" class="text-decoration-none link-info">{{group2}}</a>
          </div>
        </div>                      
    </div>
</li>