<div class="list-group-custom">
    <li class="list-group-item border-white">Latest Topic</li>
    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary rounded-top">topic</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light rounded-bottom">topic</a>
</div>
<ul class="list-group">
<li class="list-group-item border-white">Date</li>
<li class="list-group-item list-group-item-custom rounded-top">
      <div class="container">
          <div class="row text-white">
              <div class="col-6">
                <a routerLinkActive="active" routerLink="/novelorder" class="list-group-item list-group-item-action border-custom text-white">Title </a>
              </div>
              <div class="col">
                <a href="#" class="list-group-item list-group-item-action border-custom text-white">Release </a>
              </div>
              <div class="col">
                <a routerLinkActive="active" routerLink="/grouporder" class="list-group-item list-group-item-action border-custom text-white">Group </a>
            </div>
          </div>           
      </div>
</li>

</ul>