<div class="list-group-custom">
                <li class="list-group-item border-white">Latest Topic</li>
                <a href="#" class="list-group-item list-group-item-action list-group-item-secondary rounded-top">topic</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-light rounded-bottom">topic</a>
</div>
<li class="list-group-item border-white">Date</li>
<li class="list-group-item list-group-item-custom rounded-top ">
                  <div class="container">
                      <div class="row text-white">
                          <div class="col-6">
                              Title
                          </div>
                          <div class="col">
                              Release
                          </div>
                          <div class="col">
                              Group
                        </div>
                      </div>
                      
                  </div>
</li>
<li class="list-group-item list-group-item-dark link-info">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                {{novel}}
                            </div>
                            <div class="col">
                                {{commet}}
                            </div>
                            <div class="col">
                                {{group}}
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{novel}}
                            </div>
                            <div class="col">
                                Release
                            </div>
                            <div class="col">
                                {{group}}
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{novel}}
                            </div>
                            <div class="col">
                                Release
                            </div>
                            <div class="col">
                                {{group}}
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{novel}}
                            </div>
                            <div class="col">
                                Release
                            </div>
                            <div class="col">
                                {{group}}
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{novel}}
                            </div>
                            <div class="col">
                                Release
                            </div>
                            <div class="col">
                                {{group}}
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{novel}}
                            </div>
                            <div class="col">
                                Release
                            </div>
                            <div class="col">
                                {{group}}
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{novel}}
                            </div>
                            <div class="col">
                                Release
                            </div>
                            <div class="col">
                                {{group}}
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{novel}}
                            </div>
                            <div class="col">
                                Release
                            </div>
                            <div class="col">
                                {{group}}
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{novel}}
                            </div>
                            <div class="col">
                                Release
                            </div>
                            <div class="col">
                                {{group}}
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{novel}}
                            </div>
                            <div class="col">
                                Release
                            </div>
                            <div class="col">
                                {{group}}
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{novel}}
                            </div>
                            <div class="col">
                                Release
                            </div>
                            <div class="col">
                                {{group}}
                          </div>
                        </div>
                    </div>
</li>
