<ul class="list-group">
    <li class="list-group-item border-white">Novelupdates</li>
    <li class="list-group-item list-group-item border-white link-info rounded-bottom">
                      <div class="container">
                          <div class="row text-white">
                            <a routerLinkActive="active" routerLink="/forum" class="text-decoration-none link-info">Forum</a>
                          </div>
                          <div class="row text-white">
                            <a routerLinkActive="active" routerLink="/randomnovel" class="text-decoration-none link-info">Random Novel</a>
                          </div>
                          <div class="row text-white">
                            <a routerLinkActive="active" routerLink="/seriesfinder" class="text-decoration-none link-info">Series Finder</a>
                          </div>
                          <div class="row text-white">
                            <a routerLinkActive="active" routerLink="/seriesranking" class="text-decoration-none link-info">Series Listing</a>
                          </div>
                          <div class="row text-white">
                            <a routerLinkActive="active" routerLink="/latestseries" class="text-decoration-none link-info">Series Ranking</a>
                          </div>
                          <div class="row text-white">
                            <a routerLinkActive="active" routerLink="/reclists" class="text-decoration-none link-info">Latest Series</a>
                          </div>
                          <div class="row text-white">
                            <a routerLinkActive="active" routerLink="/forum" class="text-decoration-none link-info">Rec Lists</a>
                          </div>           
                      </div>
    </li>
    <li class="list-group-item border-white">User Tools</li>
    <li class="list-group-item list-group-item border-white link-info rounded-bottom">
                      <div class="container">
                          <div class="row text-white">
                            <a routerLinkActive="active" routerLink="/readlist" class="text-decoration-none link-info">Reading List</a>
                          </div>
                          <div class="row text-white">
                            <a routerLinkActive="active" routerLink="/releasefilter" class="text-decoration-none link-info">Reading Filtering</a>
                          </div>
                          <div class="row text-white">
                            <a routerLinkActive="active" routerLink="/seriesfilter" class="text-decoration-none link-info">Series Filtering</a>
                          </div>          
                      </div>
    </li>
    </ul>