<div class="container">
    <div class="row">
        <div class="col">
            <div class="list-group1">
                <li class="list-group-item border-white">Latest Topic</li>
                <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">topic</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-light">topic</a>
              </div>
        </div>

<!--List-->
<div class="col">
<div class="list-group float-end">
 
    <li class="list-group-item border-white">Novelupdates</li>
    <a href="#" class="list-group-item list-group-item-action border-white link-info">Forum</a>
    <a href="#" class="list-group-item list-group-item-action border-white link-info">Random Novel</a>
    <a href="#" class="list-group-item list-group-item-action border-white link-info">Series Finder</a>
    <a href="#" class="list-group-item list-group-item-action border-white link-info">Series List</a>
    <a href="#" class="list-group-item list-group-item-action border-white link-info">Series Ranking</a>
    <a href="#" class="list-group-item list-group-item-action border-white link-info">Latest Series</a>
    <a href="#" class="list-group-item list-group-item-action border-white link-info">Rec Lists</a>
  </div>
<!--List-->
<!--List-->
  <div class="list-group float-end">
 
    <li class="list-group-item border-white">User Tools</li>
    <a href="#" class="list-group-item list-group-item-action border-white link-info">Reading List</a>
    <a href="#" class="list-group-item list-group-item-action border-white link-info">Release Filtering</a>
    <a href="#" class="list-group-item list-group-item-action border-white link-info mb-5">Series Filtering</a>
  </div>
  <!--List-->
 <!--List-->
  <div class="list-group float-end">
    <li class="list-group-item list-group-item-dark">Latest Discussions</li>
    <a href="#" class="list-group-item list-group-item-action link-info">novel 1</a>
    <a href="#" class="list-group-item list-group-item-action link-info">novel 2</a>
    <a href="#" class="list-group-item list-group-item-action link-info">novel 3</a>

  </div>
   <!--List-->
</div>
</div>
</div>