<!--List-->
<div class="list-group float-end">
 <router-outlet></router-outlet>
    <li class="list-group-item border-white">Novelupdates</li>
    <a routerLinkActive="active" routerLink="/forum" class="list-group-item list-group-item-action border-white link-info">Forum</a>
    <a routerLinkActive="active" routerLink="/randomnovel" class="list-group-item list-group-item-action border-white link-info">Random Novel</a>
    <a href="#" class="list-group-item list-group-item-action border-white link-info">Series Finder</a>
    <a href="#" class="list-group-item list-group-item-action border-white link-info">Series List</a>
    <a href="#" class="list-group-item list-group-item-action border-white link-info">Series Ranking</a>
    <a href="#" class="list-group-item list-group-item-action border-white link-info">Latest Series</a>
    <a href="#" class="list-group-item list-group-item-action border-white link-info">Rec Lists</a>
    <img src="squareAds.jpg">
    <li class="list-group-item border-white">User Tools  </li>
    <a href="#" class="list-group-item list-group-item-action border-white link-info">Reading List  </a>
    <a href="#" class="list-group-item list-group-item-action border-white link-info">Release Filtering  </a>
    <a href="#" class="list-group-item list-group-item-action border-white link-info mb-5">Series Filtering  </a>
    <img src="squareAds.jpg">
    <li class="list-group-item list-group-item-custom rounded-top text-white">Latest Discussions</li>
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <a href="#" class="mb-1 link-info">novel</a>
      </div>
      <small>time</small>
    </li>
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <a href="#" class="mb-1 link-info">novel</a>
      </div>
      <small>time</small>
    </li>
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <a href="#" class="mb-1 link-info">novel</a>
      </div>
      <small>time</small>
    </li>
  </div>
<!--List-->