<!--Header-->
<app-top-nav-bar>Loading</app-top-nav-bar>>
<!--Header-->
<!-- Main Body-->
<div class="container">
    <div class="row">
        <!--Body-->
        <div class="col-md-9">
                <app-main-body>Loading</app-main-body>>
            <div *ngFor="let novellist of novellists;">
                <app-body-list title={{novellist.title}} release={{novellist.release}} group={{novellist.group}}></app-body-list>
            </div>
        </div>
        <!--Body-->
        <!--Side-Nav-Bar-->
        <div class="col-md-2 offset-md-1">
            <app-side-nav-bar> Loading</app-side-nav-bar>>
        </div>
        <!--Side-Nav-Bar-->
    </div>
</div>
<!-- Main Body-->
<!--Pagination-->
<div class="container-custom">
    <div clsas="row-custom1">
        <div class="d-flex justify-content-end">
            <app-page>Loading</app-page>>
        </div>
    </div>
</div>
<!--Pagination-->
<!--Footer-->
<app-bot-nav-bar>Loading</app-bot-nav-bar>>
<!--Footer-->